//colors
$aqua-light: #2ECBE6;
$aqua: #29B5CC;
$aqua-dark: #2994A6;

$violet-light: #C29CDB;
$violet: #662D91;
$violet-dark: #422356;

$blue-light: #6FCDF8;
$blue: #17A5E6;
$blue-dark: #0E84B9;


//neutral-colors
$neutral-100: #0F1926;
$neutral-200: #293340;
$neutral-300: #39424D;
$neutral-400: #525B67;
$neutral-500: #6C7580;
$neutral-600: #878F99;
$neutral-700: #A1A8B2;
$neutral-800: #CED3D9;
$neutral-900: #F5F7FA;

$black: #1B2230;
$white: #fff;

//gradients
$gradiente-01: linear-gradient(83.93deg, #9756C8 -51.48%, #00FFFF 120.25%);

$gradiente-02: linear-gradient(90.11deg, #9756C8 -15.54%, #00FFFF 173.68%);

$gradiente-03: linear-gradient(270deg, #00FFFF 0%, #662D91 99.42%);

$gradiente-04: linear-gradient(76.73deg, #9756C8 -32.78%, #00FFFF 226.2%);

//fonts
$title-font: 'Montserrat', sans-serif;
$text-font: 'Inter', sans-serif;
